<template>
    <v-container align-center justifu-center>
        <v-flex xs12 sm8 md6 lg5 x14>
            <v-card>
                <v-toolbar dark color="blue darken-3">
                    <v-toolbar-item>
                        Acceso al Sistema TourCali
                    </v-toolbar-item>
                </v-toolbar> 
          <v-col cols="12" sm="100" md="15">
            <v-text-field v-model="username" autofocus color="accent" label="Usuario" filled required>
             </v-text-field>
            <v-text-field v-model="password" type="password" color="accent" label="Contraseña" filled required>
            </v-text-field>
          </v-col>  
              <v-card-action class="px-3 pb-3">
                    <v-row align="center" justify="space-around">
                        <v-btn id="registrar1" href="#" margin=100px color="primary" @click="ingresar('home')">Ingresar</v-btn>
                        <v-btn id="volver1" margin=100px color="primary">Volver</v-btn>
                        <v-btn id="registrar1" margin=100px color="primary" v-on:click="registrar('registrar1')">¡Registrate aquí!</v-btn>
                    </v-row>
                </v-card-action>
            </v-card>
        </v-flex>
    </v-container>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return{
        email:'',
        password:''
    }
},
methods: {
    ingresar (username, password) {
      axios.post('http://localhost:9095/user/logear', { username: this.username, password: this.password })
        .then((response) => {
          history.pushState(null, "", "/#/Home");
          return json.decode(response.body)['payload']; 
        })
        .catch(error => {
          // console.log(eror);
          this.errorM = null
          if (error.response.status === 404) {
            this.errorM = 'No existe el usuario o las credenciales son incorrectas.'
          } else {
            this.errorM = 'Ocurrió un error con el servidor.'
          }
        })
    }
  }
}
</script>
                
