<template>
    <v-container align-center justifu-center>
        <v-flex xs12 sm8 md6 lg5 x14>
            <v-card>
                <v-toolbar dark color="blue darken-3">
                    <v-toolbar-item>
                        Recuperacion de contraseña TourCali
                    </v-toolbar-item>
                </v-toolbar>

              
            
           <p class="font-weight-black">
            Introduce el correo electrónico para restablecer la contraseña.
            </p>
          <v-col cols="12" sm="100" md="15">
            <v-text-field v-model="email" autofocus color="accent" label="Correo electronico" filled required>
             </v-text-field>
          </v-col>
                
              <v-card-action class="px-3 pb-3">
                    <v-row align="center" justify="space-around">
                        <v-btn id="recuperarc" placeholder="Placeholder" margin=100px color="primary">Restablecer</v-btn>
                    </v-row>
                </v-card-action>

                
            </v-card>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
        recuperarc:'',
        
    }
    }
}
</script>