<template>
    <v-container align-center justifu-center>
        <v-flex xs12 sm8 md6 lg5 x14>
            <v-card>
                <v-toolbar dark color="blue darken-3">
                    <v-toolbar-item>
                        Registrar usuario TourCali
                    </v-toolbar-item>
                </v-toolbar>
          <v-col cols="12" sm="100" md="15">
            <v-text-field v-model="name" autofocus color="accent" label="Nombres" filled required @input="$v.name.$touch()" @blur="$v.name.$touch()">
             </v-text-field>
            <v-text-field v-model="mail" autofocus color="accent" label="Correo" filled required @input="$v.email.$touch()" @blur="$v.email.$touch()">
             </v-text-field>
             <!-- <v-text-field v-model="apellido" autofocus color="accent" label="Apellidos" filled required>
             </v-text-field> -->
             <v-text-field v-model="password" autofocus color="accent" label="Password" filled required @input="$v.password.$touch()" @blur="$v.password.$touch()">
             </v-text-field>
            <v-text-field v-model="prioridad" autofocus color="accent" label="Rol" filled required @input="$v.prioridad.$touch()" @blur="$v.prioridad.$touch()">
        </v-text-field>
             <!-- <v-text-field v-model="Fechan" type="date" color="accent" label="Fecha de nacimiento" filled required>
             </v-text-field> -->
          </v-col>
                <v-card-action class="px-3 pb-3">
                    <v-row align="center" justify="space-around">
                        <v-btn class="mr-4" color="primary" @click="submit">Registrar</v-btn>
                        <!-- <v-btn id="registrar1" margin=100px color="primary">Registrar</v-btn> -->
                        <v-btn color="primary" @click="clear">Volver</v-btn>
                        <!-- <v-btn id="volver1" margin=100px color="primary">Volver</v-btn> -->
                    </v-row>
                </v-card-action>
            </v-card>
        </v-flex>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
        email:'',
        password:''
    }
},
methods: {
    ingresar () {
      axios.post('http://localhost:9095/usuario', { email: this.email, password: this.password })
        .then((response) => {
          return json.decode(response.body)['payload']; 
        })
        .catch(error => {
          // console.log(eror);
          this.errorM = null
          if (error.response.status === 404) {
            this.errorM = 'No existe el usuario o las credenciales son incorrectas.'
          } else {
            this.errorM = 'Ocurrió un error con el servidor.'
          }
        })
    }
  }
}

</script>