<template>
  <v-container>
    <v-row class="text">
      <v-col cols="12">
        
      </v-col>

      <v-col class="mb-2">
        <h1 class="display-4 font-Height-bold mb-3">
          BIENVENIDO
        </h1>

        
      </v-col>

      <v-col
        class="mb-5"
        cols="8"
      >
        <h2 class="headline font-weight-bold mb-3">
          Agende su tour en la ciudad de Cali con los mejores guias
        </h2>
      
      </v-col>

       </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      
    }),
  }
</script>
